COMPOSE_PROJECT_NAME=onlydoge-local
ONLYDOGE_HTTP_PORT=2277
POSTGRES_DB=onlydoge
POSTGRES_USER=onlydoge
POSTGRES_PASSWORD=onlydoge
MINIO_ROOT_USER=onlydoge
MINIO_ROOT_PASSWORD=onlydoge123
MINIO_BUCKET=onlydoge-raw
MINIO_PREFIX=storage
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_DB=onlydoge
CLICKHOUSE_USER=onlydoge
CLICKHOUSE_PASSWORD=onlydoge
ONLYDOGE_INDEXER_PROJECT_WINDOW=4
ONLYDOGE_INDEXER_PROJECT_TIMEOUT_MS=300000
